<h2>General info</h2>
<p>
    August 9—12 <a href="http://research.microsoft.com/en-us/events/icfpcontest2013/">ICFP contest 2013</a> took place. 
    Winners will be anounced at <a href="http://www.icfpconference.org/icfp2013">ICFP Conference</a> (September 25 — 27).
</p>
<p>
    This year one should create an algorithm that find out the expression which satisfies inputs and outputs given by orginizers-server.
    Every team had their own set of problems (i.e. expressions to find).
    If you want to learn more about this great contest and problem statements visit <a href="http://icfpc2013.cloudapp.net/">the offitial site</a>.
</p>

